/*  your css code here. If applicable */
.container{
	display:inline-block;
	background-color:#f1f1f1;
	padding:20px;
	width:150px;
}
img{
	height:100px;
	width:150px;
	tect-align:center;
}
h1{
	text-align:center;
	margin:0;
	font-size:25px;
}
p{
	text-align:center;
	margin:0;
}
.btn{
	border-radius:5px;
	background-color:red;
	color:white;
	text-align:center;
	margin-left:40px;
}